body {
  margin: 0;
}
.italic {
  font-style: italic;
}
.indent-in {
  margin-left: 1.5vw;
}
.indent-in-2 {
  margin-left: 0.5vw;
}
.indent-out {
  margin-left: -1vw;
}
a {
  text-decoration: none;
}
.dead-land {
  height: 40vw;
}
.dead-land .text {
  margin: auto;
}
.dead-land .confused {
  margin: 10vw 0 5vw 10vw;
}
.dead-land .different {
  margin: 0 0 0 4vw;
}
.dead-land .searched {
  margin: 0 0 0 7vw;
}
.dead-land .image img {
  width: 100%;
}
.dead-land #crossing {
  display: flex;
  align-items: flex-end;
  gap: 1vw;
  padding: 0 1vw;
}
.dead-land #crossing-1 {
  margin-bottom: 3vw;
}
.things {
  display: grid;
  grid-template-rows: repeat(3, 60vw);
  row-gap: 1vw;
  position: relative;
}
.things img {
  max-width: 33vw;
}
.things .row {
  display: grid;
  grid-template-columns: repeat(4, 50vw);
  position: relative;
}
.things .third {
  margin-top: 40vw;
}
.things .alive {
  position: absolute;
  top: 3vw;
  left: 2vw;
  text-align: center;
}
.things .stuff {
  margin: 15vw 0 0 27vw;
  width: 50vw;
}
.things .games {
  margin: 20vw 0 0 27vw;
  width: 50vw;
}
.things .killing-games {
  margin: 32vw 0 0 19vw;
}
.things .tell {
  position: absolute;
  top: 45vw;
  left: 143vw;
  width: 20vw;
}
.things .portal-2 {
  margin: 83vw 0 0 -108vw;
}
.things .mini-bunker {
  margin: -58vw 0 0 109vw;
}
.things .movies {
  margin: 10vw 0 0 4vw;
}
.things .why-made {
  position: absolute;
  text-align: center;
  top: 56vw;
  left: 31vw;
}
.things .confusion {
  margin: 61vw 0 0 -4vw;
}
.things .books {
  margin: 44vw 0 0 0;
}
.things .disagree {
  margin: 67vw 0 0 -21vw;
}
.things .cookbooks {
  position: absolute;
  top: 74vw;
  left: 93vw;
}
.things .cookbooks p {
  margin-left: 3vw;
  text-indent: -1vw;
}
.things .where {
  position: absolute;
  top: 69vw;
  left: 161vw;
  width: 20vw;
}
.things .why {
  position: absolute;
  top: 76vw;
  left: 164vw;
  width: 20vw;
}
.things .angry {
  margin: 19vw 0 0 64vw;
  width: 40vw;
}
.things .sci-fi {
  margin: 56vw 0 10vw 65vw;
  width: 50vw;
}
.things .dead {
  padding-bottom: 10vw;
}
.things .work-stuff {
  margin-left: 4vw;
}
.things .lot {
  margin-bottom: 3vw;
  margin: 0 0 3vw 10vw;
}
.things .eternity {
  margin: 0 0 5vw 7vw;
}
.things .visions {
  margin-bottom: 4vw;
}
.things .dreams {
  margin-bottom: 3vw;
}
.things .but {
  margin: 0 0 0 6vw;
}
.things .like-that {
  margin: 0 0 0 13vw;
}
.things .stop-seeing {
  margin-left: 10vw;
}
.things .unbearable {
  margin: 12vw 0 3vw 3vw;
}
.things .evil {
  margin-left: 5vw;
}
.things .blood,
.things .sleep,
.things .morning {
  margin-left: 20vw;
}
.things .stopped {
  margin: 10vw 0 0 12vw;
}
.things .fun {
  margin: 0;
}
.things .mindless {
  margin: 0 0 0 2vw;
  text-indent: -2vw;
}
.things .loved {
  margin-left: -1vw;
}
.things .ugly {
  text-indent: -1vw;
}
.things .violent {
  margin: 3vw 0 0 3vw;
}
.things .sickening {
  margin: 0 0 0 5vw;
  text-indent: -2vw;
}
.things .lying {
  margin: 6vw 0 0 1vw;
  text-indent: 0.5vw;
}
.things .right {
  margin: 7vw 0 0 8vw;
}
.things .woman {
  margin-left: 1.5vw;
  text-indent: -1.5vw;
}
.things .physical {
  margin-left: 0.5vw;
  text-indent: -1vw;
}
.things .faster {
  text-indent: 2vw;
}
.things .genres {
  margin-left: 1vw;
  text-indent: -0.5vw;
}
.things .told {
  text-indent: -0.5vw;
}
.things .change {
  margin-left: 1vw;
  text-indent: -0.5vw;
}
.things .solve {
  margin-left: 2vw;
  text-indent: -1vw;
}
.things .ruin {
  text-indent: 0.5vw;
}
.things .yarn {
  margin-left: 3vw;
  text-indent: -0.5vw;
}
.things .fascinating {
  text-indent: 0.5vw;
}
.things .looked {
  margin: 5vw 0 3vw 0;
}
.things .instruments {
  text-indent: -1.5vw;
}
.things .song {
  text-indent: -2vw;
}
.things .hungry {
  margin: 0 0 0 3vw;
}
.things .tired {
  margin: 0 0 0 3vw;
}
.things .breathe {
  margin: 0 0 0 3vw;
}
.things .warm {
  margin: 1vw 0 0 3.5vw;
}
.things .cool {
  margin: 1vw 0 0 4vw;
}
.things .body {
  margin: 1vw 0 3vw 5vw;
}
.things .see {
  margin: 2vw 0 0 0;
}
.things .suffering {
  margin: 5vw 0 0 6vw;
  text-indent: 0.5vw;
}
.things .shelter {
  margin: 0.5vw 0 0 7vw;
  text-indent: -1vw;
}
.things .purpose {
  margin: 0.5vw 0 0 6.5vw;
  text-indent: -0.5vw;
}
.things .luxury {
  margin: 1vw 0 0 6vw;
  text-indent: -1vw;
}
.things .understand {
  margin: 9vw 0 0 8vw;
  text-indent: -6vw;
}
.things .reading {
  margin-left: 2vw;
  margin-bottom: 2vw;
  text-indent: -0.5vw;
}
.things .robots {
  margin-left: -1vw;
  margin-top: 3vw;
}
.things .characters {
  margin-left: 6vw;
}
.things .dont-1 {
  margin: 3vw 0 6vw 6vw;
}
.things .dont-2 {
  margin-left: 6vw;
}
.things .before {
  margin: 14vw 0 0 3vw;
}
.things .block {
  margin-bottom: 5vw;
}
.things .indent {
  margin-left: 4vw;
}
.things .red-light {
  color: red;
}
