@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v19/raxjHiqOu8IVPmn7epZnDMyKBvHf5D6c4PzOWA.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v19/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfCL8.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v19/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8SjYCL8.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v19/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8RHYCL8.ttf) format('truetype');
}
@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/novamono/v13/Cn-0JtiGWQ5Ajb--MRKfYA.ttf) format('truetype');
}
.bitter {
  font-family: 'Bitter', serif;
}
.nova {
  font-family: 'Nova Mono', monospace;
}
/* STYLES */
body {
  margin: 0;
  background-color: #13111f;
  background: linear-gradient(180deg, #13111f 35%, #547197 40%, #547197 90%, rgba(192, 141, 194, 0.53) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
  font-family: 'Bitter', serif;
}
.landscape {
  width: 100vw;
  padding-top: 30vh;
}
.landscape p {
  padding: 20vh 10vw 0;
  color: #6d719b;
}
.landscape img {
  padding-top: 15vh;
  max-width: 100vw;
}
.ruins {
  width: 100vw;
  padding-left: 45vw;
  margin: 50vh 0 50vh;
}
.ruins #storm-figure {
  float: left;
  padding: 0 10%;
  margin-left: -40vw;
}
.ruins #storm-figure img {
  max-width: 18vw;
}
.ruins p {
  padding: 5vh 5vw;
  color: #6d719b;
}
.ruins .statement {
  padding: 30vh 5vw;
  margin-top: 18vh;
}
.ruins .midindent {
  text-indent: -10vw;
  padding-left: 10vw;
}
.ruins .indent {
  padding-left: 15vw;
}
.bridge {
  width: 100vw;
  padding-left: 70vw;
  margin: 50vh 0;
}
.bridge p {
  color: #14161b;
  text-align: center;
  padding: 10vh 0;
}
.bridge img {
  display: block;
  margin: auto;
}
.bridge .stagger {
  text-indent: -100px;
}
.bridge .one-time {
  text-align: right;
  margin-right: 11vw;
  margin-top: -5vw;
}
.bridge #bridge-figure {
  margin-top: 10vh;
}
.bridge #bridge-figure img {
  max-width: 70vw;
}
.bridge #bridge-view {
  margin-top: 10vh;
}
.bridge #bridge-view img {
  max-width: 70vw;
}
.bridge #mini-bridge img {
  max-width: 40vw;
}
.mosquito {
  width: 100vw;
  padding-left: 75vw;
}
.mosquito .sunhat {
  display: flex;
  justify-content: center;
  text-align: right;
  margin: auto;
  width: 75vw;
}
.mosquito .cross {
  margin: auto;
  padding: 20vh 0;
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mosquito .cross p {
  margin: auto;
  text-align: center;
}
.mosquito .cross img {
  width: 250px;
}
.mosquito .cross-save {
  width: 50vw;
  padding: 20vh 0;
  margin: auto;
}
.mosquito .cross-save img {
  display: block;
  margin: auto;
  padding-bottom: 150px;
}
.mosquito .cross-save #cross-save-1 img {
  width: 400px;
}
.mosquito .cross-save #cross-save-2 img {
  width: 500px;
}
.mosquito #mosquito-hat {
  padding: 0 4vw;
}
.mosquito #mosquito-hat img {
  max-width: 30vw;
}
.closing {
  margin: 40vh 0 20vh;
  padding-left: 120vw;
  color: #4c5079;
  width: 100vw;
}
.closing a {
  text-decoration: none;
  /* need to add hover styles, color later */
}
