body {
  margin: 0;
}
.child {
  margin: 10vw 0 10vw 20vw;
}
.child .helpless {
  margin-left: 40vw;
}
.child p {
  margin-bottom: 8vw;
}
.hike {
  display: flex;
  justify-content: space-evenly;
}
.hike img {
  width: 20vw;
}
.hike .hike-text {
  width: 50vw;
  margin-top: auto;
  margin-bottom: auto;
}
.hike .hike-text p {
  margin-bottom: 3vw;
}
.hike .hike-text .entire {
  text-indent: -1vw;
}
.hike .hike-text .but {
  text-indent: -4vw;
  margin-left: 8vw;
}
.made-for-this {
  margin: 15vw 0 0 40vw;
}
.made-for-this p {
  margin-bottom: 3vw;
}
.made-for-this .why {
  text-indent: -2vw;
}
.care {
  width: fit-content;
  margin: 25vw auto 20vw auto;
}
