@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v19/raxjHiqOu8IVPmn7epZnDMyKBvHf5D6c4PzOWA.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v19/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfCL8.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v19/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8SjYCL8.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v19/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8RHYCL8.ttf) format('truetype');
}
@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/novamono/v13/Cn-0JtiGWQ5Ajb--MRKfYA.ttf) format('truetype');
}
.bitter {
  font-family: 'Bitter', serif;
}
.nova {
  font-family: 'Nova Mono', monospace;
}
p {
  font-family: 'Bitter', serif;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
.italic {
  font-style: italic;
}
.indent-in {
  margin-left: 1.5vw;
}
.indent-in-2 {
  margin-left: 0.5vw;
}
.indent-out {
  margin-left: -1vw;
}
.man {
  padding: 10vw;
  display: flex;
  width: 108vw;
  align-items: center;
}
.man .man-text {
  width: 65vw;
  flex-grow: 3;
  flex-shrink: 0;
}
.man .cats {
  text-indent: -1vw;
}
.man .ironic {
  margin: 10vw 0 10vw 15vw;
  text-indent: -3vw;
}
.man .hypocrite {
  margin: 5vw 0 0 13vw;
  text-indent: -2vw;
}
.man #plant-pots {
  flex-shrink: 1;
}
.man #plant-pots img {
  max-width: 100%;
  max-height: 100%;
}
.plant-book {
  position: absolute;
  left: 69vw;
  top: 46vw;
  width: 43vw;
}
.plant-book .many {
  margin-left: 5vw;
  margin-top: 3vw;
  text-indent: -2vw;
}
.plant-book .find {
  margin-left: 5.5vw;
}
.plant-book .cuttings {
  margin: 3vw;
}
.plant-book .little {
  margin: 8vw;
}
.plant-book #in-garden {
  margin-left: -22vw;
  margin-top: -16vw;
}
.plant-book #in-garden img {
  width: 20vw;
}
.garden {
  position: absolute;
  top: 70vw;
  left: 102vw;
  width: 60vw;
}
.garden .explore {
  margin-left: 4vw;
}
.garden .land {
  margin: 4vw 0 0 5vw;
}
.garden .land .most {
  margin-top: 2.2vw;
}
.garden .land .haunted {
  margin: 3vw 0 0 1.5vw;
}
.garden .land .grief {
  margin: 0 0 0 3vw;
}
.garden .land .wonder {
  margin-top: 5vw;
  text-indent: -2vw;
}
.specs {
  padding: 31vw 15vw 15vw 29vw;
  width: 75vw;
}
.specs .know {
  text-indent: -3vw;
}
.specs .history {
  margin: -2vw 0 0 32vw;
}
.specs .body {
  text-indent: -1.5vw;
  margin: 3vw 0 0 10vw;
}
.specs .sense {
  text-indent: -0.5vw;
  margin: 3vw 0 0 11.5vw;
}
.specs .kind {
  margin: 10vw 20vw;
  text-indent: -0.5vw;
}
.made {
  margin-left: 40vw;
}
.made .like {
  text-indent: -1vw;
  margin: 0 0 0 5vw;
}
.made .much {
  margin-top: -2.3vw;
  margin-left: 23.5vw;
}
.made .years {
  margin-top: -2.2vw;
  margin-left: 33vw;
}
.made .red {
  margin: 9vw 10vw;
}
.made .red .secret {
  color: red;
  background-color: red;
}
