body {
  margin: 0;
}

.wide-shots {
  margin: 5vw 0;
  img {
    width: 100vw;
    margin-bottom: 2vw;
  }
}

.forget {
  margin-left: 20vw;
}

.convo {
  margin: 15vw 0 15vw 60vw;

  .girl {
    color: rgb(206, 75, 0);
    margin-left: 2vw;
  }
  .robot {
    color: rgb(55, 74, 131);
    margin-left: 8vw;
  }

  .italic { font-style: italic; }
}
